---
import Hamburger from "./atoms/Hamburger.astro";
import Navigation from "./atoms/Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>